.site-header {
  background-color: #f7f7f7;
}
.site-header a {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
.blog-inner .blog-img {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.blog-inner .blog-content {
  margin-top: 0;
  background: linear-gradient(45deg, #FF3D00, #DB3500);
  max-width: 580px;
  padding: 74px 80px;
  top: 65%;
  left: 10%;
  color: white;
}
.blog-inner .blog-content .post-meta .blog-cat {
  position: relative;
  padding-left: 20px;
  float: left;
  margin-right: 9px;
  color: white;
}
.blog-inner .blog-content .post-meta .blog-cat .category-tag {
  font-size: 13px;
  font-weight: 400;
  line-height: 0em;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0px 0px 0px -20px;
  text-decoration: none;
}
.blog-inner .blog-content .post-meta .blog-date {
  overflow: hidden;
  clear: right;
  padding-left: 30px;
  position: relative;
  line-height: 28px;
}
.blog-inner .blog-content .post-meta .blog-date:before {
  content: "";
  height: 15px;
  width: 1px;
  left: 7px;
  top: 7px;
  background: #C5C5C5;
  opacity: 0.5;
  position: absolute;
}
.blog-inner .blog-content .post-meta .blog-date a {
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0px 0px 0px 12px;
  text-decoration: none;
}
.blog-inner .blog-content .post-title {
  padding: 15px 0px 0px 0px;
  font-size: 31px;
  margin-bottom: 26px;
}
.blog-inner .blog-content .post-title a {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  text-decoration: none;
}
