.header-bg {
  background-color: #f7f7f7 !important;
}
.site-header {
  background-color: #f7f7f7;
  padding: 10px;
}
.site-header a {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
.footer {
  background-color: #000000;
}
.footer .footer-navigation {
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer .footer-navigation li a {
  color: white;
}
.wp-block-categories {
  margin-bottom: 21px;
  margin-left: 3px;
  list-style: none;
}
.wp-block-categories li {
  list-style: none;
  padding: 13px 23px;
  padding-right: 34px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.11);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 19px;
  border-radius: 8px;
}
.wp-block-categories li a {
  color: #888888;
  text-transform: uppercase;
  text-decoration: none;
}
.widget-post-css {
  list-style: none;
}
.widget-post-css li .wp-block-latest-posts__featured-image a img {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.widget-post-css li a {
  font-size: 15px;
  display: inline;
  color: #888888;
  text-transform: uppercase;
}
.white {
  color: white;
}
.section-title {
  position: relative;
}
.section-title .wn-deep-title-shape {
  width: calc(100% - 200px);
  height: 1px;
  background-color: #ECECEC;
  bottom: 14px;
  left: 200px;
  transform: rotate(0);
  position: absolute;
}
.section-title .innertitle {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.wrapper {
  margin-bottom: 100px;
}
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.8px;
  text-decoration: none;
}
.blog-inner .blog-img {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.blog-inner .s-blog-img {
  height: 273px;
  object-fit: cover;
}
.blog-inner .s-content {
  max-width: 278px;
  background-color: white;
  padding: 15px;
  top: 55%;
  max-height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.blog-inner .s-content .post-meta .blog-cat .category-tag {
  color: #0a0a0a;
}
.blog-inner .s-content .post-meta .blog-date {
  color: #0a0a0a;
}
.blog-inner .s-content .post-title a {
  color: #0a0a0a;
  font-size: 18px;
  text-decoration: none;
}
.blog-inner .width {
  max-width: 580px;
  background: linear-gradient(45deg, #FF3D00, #DB3500);
  padding: 74px 80px;
  top: 65%;
}
.blog-inner .blog-content {
  margin-top: 0;
  left: 10%;
  color: white;
}
.blog-inner .blog-content .post-meta .blog-cat {
  position: relative;
  padding-left: 20px;
  float: left;
  margin-right: 9px;
  color: white;
}
.blog-inner .blog-content .post-meta .blog-cat .category-tag {
  font-size: 13px;
  font-weight: 400;
  line-height: 0em;
  letter-spacing: 0.2px;
  margin: 0px 0px 0px -20px;
  text-decoration: none;
}
.blog-inner .blog-content .post-meta .blog-date {
  overflow: hidden;
  clear: right;
  padding-left: 30px;
  position: relative;
  line-height: 28px;
}
.blog-inner .blog-content .post-meta .blog-date:before {
  content: "";
  height: 15px;
  width: 1px;
  left: 7px;
  top: 7px;
  background: #C5C5C5;
  opacity: 0.5;
  position: absolute;
}
.blog-inner .blog-content .post-meta .blog-date a {
  font-size: 13px;
  font-weight: 400;
  padding: 0px 0px 0px 12px;
  text-decoration: none;
}
.blog-inner .blog-content .post-title {
  padding: 15px 0px 0px 0px;
  font-size: 31px;
  margin-bottom: 26px;
}
.section2 {
  margin-top: 30px;
}
.section2 .section-title {
  position: relative;
}
.section2 .section-title .wn-deep-title-shape {
  width: calc(100% - 200px);
  height: 1px;
  background-color: #ECECEC;
  bottom: 14px;
  left: 200px;
  transform: rotate(0);
  position: absolute;
}
.section2 .section-title .innertitle {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.section2 .sectionAboutUs {
  margin-top: 80px;
}
.section2 .sectionAboutUs .wrapper {
  padding: 10px;
  padding-bottom: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}
.section2 .sectionAboutUs .wrapper .image {
  margin: -71px 0px 0px 0px;
  text-align: center;
}
.section2 .sectionAboutUs .wrapper .image img {
  border-radius: 50% 50% 50% 50%;
}
.section2 .sectionAboutUs .wrapper .content {
  margin: 40px 35px 0px 35px;
  text-align: center;
}
.section2 .sectionAboutUs .wrapper .content p {
  font-size: 17px;
  color: #555;
}
.section2 .sectionAboutUs .wrapper .content a {
  color: #FF3D00;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.section2 .blog-wrapper {
  margin-bottom: 35px;
  position: relative;
}
.section2 .blog-wrapper .omega {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  margin-left: 20%;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #fff;
  position: relative;
}
.section2 .blog-wrapper .omega img {
  width: 384px;
  height: 281px;
  margin-top: 25px;
}
.section2 .blog-wrapper .blogImage {
  margin-left: -25%;
  z-index: 2;
  padding-top: 41px;
  float: left;
}
.section2 .blog-wrapper .blogImage img {
  width: 384px;
  height: 281px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.section2 .blog-wrapper .blogContent {
  padding: 10% 5% 13% 6%;
  min-height: 369px;
  overflow: hidden;
}
.section2 .blog-wrapper .blogContent .postmetadata {
  display: inline-block;
  padding-right: 7px;
}
.section2 .blog-wrapper .blogContent .postmetadata .blog-date {
  text-align: left;
  display: table-cell;
  letter-spacing: 0;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 4px;
  margin-bottom: 0;
  color: #707070;
}
.section2 .blog-wrapper .blogContent .post-title {
  margin: -10px 0px 17px 0px;
  padding: 0px 40px 0px 0px;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 1.3;
  font-weight: 500;
  word-wrap: break-word;
}
.section2 .blog-wrapper .blogContent .post-title a {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0.3px;
  color: #000000;
  text-decoration: none;
}
.section2 .blog-wrapper .blogContent p {
  font-size: 17px;
  margin-bottom: 34px;
  color: #555;
}
