.site-header{
    background-color: #f7f7f7;
    a{
        color: #0a0a0a;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin-right: 25px;
        margin-left: 25px;
        padding-right: 0px;
        padding-left: 0px;
        & :hover{

        }
    }
}
.blog-inner{

    .blog-img{
        border-radius: 5px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    }
    .blog-content{
        padding: 30px;
        margin-top: 0;
        background: linear-gradient(45deg, #FF3D00, #DB3500);
        max-width: 660px;
    }
}
