header .site-header {
  background-color: #f7f7f7;
}
header .site-header a {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
